<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <a href="<%= @link.url %>"><%= @link.title %></a>
</p>

<p>
  <strong>Url:</strong>
  <%= @link.url %>
</p>

<p>
  <strong>Description:</strong>
  <%= @link.description %>
</p>

<%= link_to like_link_path(@link), method: :put, class: "btn btn-default btn-sm" do %>
   <span class="glyphicon glyphicon-chevron-up"></span>
   Upvote
   <%= @link.get_upvotes.size %>
<% end %>
<%= link_to dislike_link_path(@link), method: :put, class: "btn btn-default btn-sm" do %>
   <span class="glyphicon glyphicon-chevron-down">
   Downvote
   <%= @link.get_downvotes.size %>
<% end %>

<%= link_to 'Edit', edit_link_path(@link) %> |
<%= link_to 'Back', links_path %>

<h3>
  <%= @link.comments.count %> Comments
</h3>
<div>
  <%= render :partial => @link.comments %>
  
</div>


<div>
  <%= simple_form_for [@link, Comment.new] do |f| %>
    <%= f.text_area :body %>
    <%= f.submit "Add comment" %>
  <% end %>
</div>

